@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
    background-color: #252627;
}
.home{
    position: relative;
    top:-30px;
}
.m-left{
    color:white;
    font-size: 4rem;
    cursor:context-menu;
     position: relative;
     top:40px;
     left:10%;
     
}
p:hover{
    color:rgb(50, 168, 129);
    transition:all .5s;
}
span.name{
    color:#ED5565;
}
 
.skil{
    letter-spacing: 3px;
    word-spacing: 18px;
    font-size: .8rem;
    color:#707070;
    position: relative;
     top:40px;
     left:10%;
}

.textt a{
    padding:8px 10px;
    background-color: none;
    border:3px solid #ED5565;
    color:#ed5565;
    font-size: 1.5rem;
    letter-spacing: 2px;
    position: relative;
    top:50px;
    left:90px;
    overflow:hidden;
    transition:.5s;
    display:inline-block;
}


.textt a:hover{
    color:#fff;
}

.textt a::before{
    content:'';
    background-color: #ED5565;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 0%;
    z-index: -1;
    transition:.5s;

}

.textt a:hover::before{
    height: 100%;
}

.profile-image img{
    width:200px;
    height:200px;
    margin-top: 90px;
    border-radius: 50%;
    position: relative;
    top:20px;
    left:10%;
}
 
.about-me{
    padding:100px 15px;
    background-color:  white;
    position: relative;
    top:70px;
}

.abot-me .row .section-title{
    flex: 0 0 90%;
    max-width:90%;
    margin-bottom:20px;

}

.about-me .row .section-title h1{
    text-align: left;
    font-size: 6rem;
    opacity: .8;
    color:#ED5565;
    position: relative; 
    left:60px;
    top:-50px;
}

.about-me .row .section-title p{
    text-align:left;
    display: block;
    font-size: 3.5rem;
    color:#707070; 
    font-size:1rem;
    opacity: .8;
    position: relative;
    left:70px;
    top:-60px;
    }
 
  
.about-me .row .about-content .img{
    flex:0 0 30%;
    min-width:30%;
}
.about-me .row .about-content .img img{
    width: 250px;
    height:250px;
    border-radius:50%;
    position: relative;
    top:-40px;
    left:40px;
}
 
.text-uppercase{
    text-transform:uppercase!important;
}

.about-me .row .about-content .text{
    flex: 0 0 40%;
    min-width: 40%;
    position: relative;
    left:8px;
    
}

.about-me .row .about-content .text h4{
    font-size: 3rem;
    font-weight: 600;
    margin:0 0 5px;
    color: #707070;
    opacity: 0.8;
     
}
.about-me .row .about-content .text h6{
    font-size: 15px;
    font-weight: 400;
    margin:0 0 15px;
    color:#707070;
}
.about-me .row .about-content .text h6 span{
    color:#ED5565;
    font-weight:600;
}
.about-me .row .about-content .text p{
    font-size: 15px;
    font-weight: 400;
    color:#707070;
    letter-spacing :1px;
    word-spacing: 1px;
}
.about-me .row .about-content .text .info{
       display:flex;
       flex-wrap:wrap;
       margin-top:5px;
}

.about-me .row .about-content .text .info .list{
    width:300px;
    color: #707070;
    margin:10px;
    display:flex;
    flex-wrap: wrap;
    flex:0 0 calc(70% -15px);
    max-width: calc(70%-15px);
     border-bottom:1px solid #707070;
     padding-bottom: 10px;

}

.about-me .row .about-content .text .info .list label{
    padding-right: 10px;
    color:#707070;
    font-weight: 600;
    font-size: 15px;;
}
 
.about-me .row .about-content .text .social-links{
    position: relative;
    top:20px;
    left:20px;
}

.about-me .row .about-content .text .social-links a{
     height:30px;
     width:40px;
     background-color:#ED5565;
     border-radius: 3px;
     display: inline-block;
     border:1px solid white;
     line-height: 20px;
     text-align: center;
     margin: 0 1px;
     transition:all .5s ease;
}

.about-me .row .about-content .text .social-links a .fa{
    color:#252627;
    font-size: 18px;
    padding:5px;
}

.about-me .row .about-content .text .social-links a:hover{
    background-color: black;
}
.about-me .row .about-content .text .social-links a .fa:hover{
     color:#ED5565;
}


.skills{
    background-color:white;
    padding:100px 15px;
     
   
}
.skills .container .row{
        width:100%;
} 

.skills .container{
        display: flex;
        background-color:#e6ffff;
        position: relative;
        height:550px;
        width:100%;
       
}

.skills .skills-content{
    flex:0 0 50%;
    max-width:50%;
    
}
 

.align-items-center{
    align-items:center;
}
 
.skills .section-title p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color :#008080;
    margin:10px 0 10px;
    margin-bottom: 30px;
    position: relative;
    top:10px;
    left:4%;
}

.skills .section-title h1{
    text-align: left;
    font-size: 5rem;
    opacity: .5;
    color:#008080;
    position: relative; 
    left:60px;
    top:10px;
}

.skills .row .skill-box{
    flex:0 0 100%;
    max-width: 100%;
    margin-bottom:20px;
    position: relative;
    left:8%;
}
 
.skills .row .skill-box h6{
    font-size: 16px;
    font-weight: 500;
    color:#008080;
     margin:0 0 5px;
}
.skills .row .skill-box .skill-bar{
    height:5px;
    background-color:white;
    position: relative;
    left:-10px;
}

.skills .row .skill-box .skill-bar .skill-bar-in{
    background-color:#008080;
    position: absolute;
    left:0;
    top:0;
    height:100%;
}

.skills .row .skill-box .skill-bar .skill-bar-in span{
    color:#008080;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top:-30px;
}

.projects{
    background-color: #252627;
    padding: 100px 15px;
    width: 100%;
   position: relative;
   top:-70px;
}

.projects .section-title h1{
    font-size:4rem;
    font-weight: 600;
    color: #adad85;
    text-align: center;
}
.projects h2{
    font-size:2.5rem;
    font-weight: 400;
    color: #adad85;
    text-align: center;
}
.projects .project {
	background:#adad85;
	color:black;
	height:50px;
	padding:15px;
	margin:15px;
	border-radius:20px;
    box-shadow:  2px 5px #f3f59f;
    text-align: center;
    list-style-type: none;
}

.projects .item .project a{
	color:#2e2e2d;
	 font-size:15px;
     font-weight:400;
   
}
 
 .projects .item .project:hover {
    animation: transform 0.7s ease-in-out both;
	 background:#f3f59f;
	 box-shadow:  2px 5px #adad85;
}
 

@keyframes transform {
    0% {
      transform: rotate(0deg)  
    }
    25% {
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      transform: rotate(-5deg) scale(1.1);
    }
    75% {
      transform: rotate(3deg)  scale(1.1);
    }
    100% {
      transform: rotate(0deg) scale(1.1);
    }
  }
   
  
footer{
     padding:80px 15px;
     background-color: #0c0c17;
     height:100px;  
    position: relative;
    top:170px;
     
}

footer .logo {
    flex:0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color:#ffffff;
    
}

footer .social{
    flex:0 0 100%;
    max-width: 100%;
    text-align:center;
    position: relative;
}



footer .social a{
    flex:0 0 100%;
    text-decoration: none;
    display:inline-block;
    margin:0px 12px;
    font-size: 2rem;
    color: white; 
    left:15px;
}

/* 
.copyright{
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding:15px;
    height: 10px;
    
}

.copyright p{
    color:black;
    margin:0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    top:100px;
    justify-content: center;
   
} */